/* Reset default styles */
html,
body,
span,
p,
li,
ul {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: 'M PLUS Rounded 1c', Arial, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h5,
.h5,
h4 {
    margin: 0;
    padding: 0;
    color: #5099FF;
    font-family: 'M PLUS Rounded 1c', Arial, sans-serif;
}

/* Set up global styles */
html{
    height: 100vh;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'M PLUS Rounded 1c', Arial, sans-serif;
}

/* Layout structure */
body,
.content {
    position: relative;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
}

/* Rows and Columns */
.row,
.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    padding: 2rem 0;
}

.row p {
    text-align: center;
    margin-bottom: 0;
}

.column {
    flex-direction: column;
    padding: 1rem 0;
}

.column .values-title,
.column .values-text {
    padding-right: 0;
    margin-bottom: 1rem;
}

.column h2,
.column h4 {
    margin-right: 0;
    margin-bottom: 1rem;
    text-align: left;
}

.column .hero-image {
    margin-bottom: 1rem;
    width: 100%;
}

.column p {
    text-align: left;
    margin-bottom: 0;
}

/* Background Styles */
#about {
    background: #FFEC61;
    max-height: 100%;
    width: 100%;
    height: 80vh;
    padding: 2rem 0 0 0;
    margin-bottom: 1rem;
}

#about .background-div {
    width: 100%;
    position: relative;
    text-align: center;
    max-height: 100%;
    height: 100%;
}
#about .background-div img {
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        object-fit: cover;
        min-height: fit-content;
        position: relative;
        text-align: center;
        max-height: 100%;
        height: 100%;
    }

#about .about-content {
    width: 100%;
    position: relative;
    text-align: center;
    max-height: 100%;
    height: 100%;
    overflow: visible;
}

.background-secondary {
    background: #FFEC61;
}

.background-primary {
    background: #FF7A50;
}

.background-primary1 {
    background: #5099FF;
}

.background-white {
    background: #FFFFFF;
}

/* Transition Styles */
.transition-div {
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px #FFEC61;
    margin-bottom: 1rem;
}

/* Goals */
#goals {
    margin-bottom: 12rem;
}

/* Bottom Section */
.bottom .join-us-text {
    margin: 2rem auto;
    color: #FF7A50;
}

/* Foreground */
.foreground-div {
    position: absolute;
    top: 25%;
    left: 50%;
    bottom: 16%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    padding: 1.5rem;
    text-align: center;
}

.foreground-div p, .foreground-div h1 {
    color: #000000;
}

/* Header */
.header {
    position: relative;
}

.header-brand {
    padding: 0;
    order: 1;
}

.header-brand img {
    height: 2.5rem;
}

.header-toggler {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    min-height: 1.5rem;
    outline: 0 !important;
    width: 1.5rem;
    order: 2;
}

.header-toggler .fas {
    font-size: 1.25rem;
    line-height: 1;
    color: #FF7A50;
}

/* Header Menu */
.header-menu {
    background-color: #fff;
    padding: 0;
    position: absolute;
    text-align: start;
    border: 0 solid #FF7A50;
    border-radius: none;
    font-size: 1rem;
    list-style: none;
    overflow: hidden;
    z-index: 1019;
    right: 0;
    top: 100%;
}

.header-action,
.header-menu {
    margin: 0;
    position: absolute;
    background-clip: padding-box;
    top: 100;
    right: 0;
    list-style: none;
    transition: box-shadow 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94), opacity 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94), top 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    width: 100%;
}

/* Header Action */
.header-action {
    display: flex;
    align-items: end;
    padding: 0.75rem;
    pointer-events: none;
    opacity: 0;
    z-index: 1021;
}

.header-action.open {
    opacity: 1;
}

/* Header Button */
.header-button {
    width: 15rem;
}

.header-menu .open .header-button {
    pointer-events: all;
}

/* Header Navbar */
.header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: sticky;
    width: 100%;
    top: 0;
}

.header-navbar-container {
    width: 100%;
    position: relative;
    align-items: center;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
    overflow: visible !important;
    position: relative;
}

.header-menu.open {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}

/* Header Menu Action */
.header-menu-action {
    padding: 0.75rem;
    height: inherit;
    box-sizing: content-box;
}

/* Header Menu Item */
.header-menu-item {
    border: 0;
    background-color: transparent;
    display: block;
    margin: auto;
    padding: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
    color: #5099FF;
    width: 100%;
    clear: both;
    font-weight: 500;
    text-align: inherit;
    white-space: nowrap;
    text-decoration: none;
}

.header-menu-item:after {
    content: "";
    border-bottom: 1px solid #FF7A50;
    display: block;
    margin: 0 0.75rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-menu-item:hover {
    background-color: #fff;
    color: #FF7A50;
    text-decoration: none;
}

.header-menu-item:active {
    background-color: #FF7A50;
    color: #FFEC61;
}

.header-menu-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.header-menu-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.header-menu-item.selected,
.header-menu-item.selected:hover {
    background-color: #FFEC61;
    color: #5099FF;
}

.header-menu-item.show .icon {
    transform: rotate(-0.5turn);
}

.header-menu-item .icon {
    transition: transform 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.header-menu-item .ps-5 {
    padding-left: 1.25rem !important;
}

/* Typography */
p {
    font-size: 1rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 1rem;
}

li {
    font-size: 1rem;
    list-style: none;
}

/* Cards */
#cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.card {
    border: none;
    border-radius: 0.75rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    width: 100%;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0.75rem;
}

.card p {
    font-size: 1rem;
}

/* Round Elements */
.round-element {
    position: absolute;
    z-index: -1;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.middle {
    text-align: center;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 10%;
    transform: translate(-50%, 100%);
}

.round-element-top,
.round-element-middle,
.round-element-bottom {
    position: relative;
}

.round-element-bottom {
    position: relative;
}

.bottom {
    border-radius: 50% 50%  0 0;
    width: 100%;
    height: 14rem;
    top: -50%;
    left: 50%;
    padding: 12%;
    text-align: center;
    transform: translate(-50%, -100%);
    background-color: #EFEFEF;
}

/* Footer */
footer {
    background: #44423E;
    color: white;
    height: 100%;
    text-align: center;
    padding: 1rem 0;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    align-content: center;
    flex-direction: column;
}

.footer-logo,
.footer-text,
.footer-icons,
.impressum {
    margin-top: 1rem;
}

.footer-logo img {
    height: 2rem;
}


.footer-text p {
    margin: 0;
    color: #FFFFFF;
    margin: 1rem auto;
    font-size: 0.75rem;
}

.footer-icons a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 0.75rem;
}

.footer-icons a:hover {
    color: #FF7A50;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: transparent;
    padding-top: 0;
}

.modal-content {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 1rem;
    border: none;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px #FFEC61;
}

.close {
    color: #000000;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#impressumBtn {
    color: #FFFFFF;
    text-decoration: none;
}

@media (min-width: 768px) {
    .header-action {
        opacity: 1;
    }

    .header-action,
    .header-menu {
        right: 5rem;
        width: 15rem;
    }

    .header-button {
        pointer-events: all;
    }

    .header-navbar-container {
        max-width: 90%;
    }

    .content {
        margin: 0 auto;
        padding: 1rem;
        max-width: 70%;
    }

    .content .title {
        text-align: left;
    }

    #about {
        padding: 10rem 0 3rem 0;
        margin-bottom: 6rem;
    }

    #about .background-div img{
        background-size: cover; 
        overflow: visible;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        object-fit: cover;
        min-height: fit-content;
        position: relative;
        text-align: center;
        max-height: 100%;
        height: 100%;
    }

    .transition-div {
        border-radius: 5rem;
        padding: 2rem 5rem;
        margin-bottom: 1.75rem;
    }

    .card {
        max-width: 45%;
        margin-bottom: 0;
        margin: 0.75;
        padding: 1.25rem;
        width: 100%;
    }

    .header-button {
        pointer-events: all;
    }

    .header-brand img {
        height: 3.5rem;
    }

    .foreground-div {
        top: 20%;
        transform: translate(-50%, -50%);
        max-width: 500px;
        padding: 10px;
    }

    .column {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 1.75rem;
    }

    .column .values-title,
    .column .values-text {
        padding-right: 2rem;
        margin-bottom: 0;
    }

    .column h2,
    .column h4 {
        flex: 1;
        margin-right: 1rem;
        margin-bottom: 0;
        text-align: left;
    }

    .column p {
        flex: 2;
        text-align: left;
    }

    #goals {
        margin-bottom: 20rem;
    }

    #vision {
        /* width: 60%; */
        height: 100%;
    }

    #vision .column .hero-image {
        flex: 1;
        max-width: 30%;
        height: 20rem;
        margin-right: 5rem;
        margin-bottom: 0;
    }

    .top {
        width: 500px;
        height: 500px;
        top: 5rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .middle {
        width: 500px;
        height: 500px;
        top: 30rem;
        left: 10%;
        transform: translate(-50%, -50%);
    }

    .bottom {
        border-radius: 50% 50%  0 0;
        width: 100%;
        height: 50%;
        top: -50%;
        left: 50%;
        padding: 10%;
        transform: translate(-50%, -100%);
        background-color: #EFEFEF;
    }

    .bottom .join-us-text {
      max-width: 30%;
        margin: 0 auto;
    }

    .footer-content {
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-icons {
        margin-top: 1rem;
    }

    .modal {
        padding-top: 5rem;
    }

    .modal-content {
        width: 80%;
        /*   margin: 3rem auto; */
    }
}